* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-color: gray;
    overflow: hidden;
}

img {
    pointer-events: none;
    user-select: none;
}

#screen {
    aspect-ratio: 16 / 9;
    position: absolute;
    height: 100vh;
    margin: 0 auto 0 auto;
    background: url(/PattyDOS/pictures/wallpaper/IMG_6010.JPEG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
}

#newContextMenu {
    top: 0;
    left: 0;
    position: absolute;
    min-width: 200px;
    height: max-content;
    width: max-content;
    background-color: rgb(235, 235, 235);
}
.newContextMenuOption {
    padding: 3px;
    margin: 3px;
    color: black;
    background-color: transparent;
    cursor: default;
}
.newContextMenuOption:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#homePage {
    position: relative;
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
}

.desktopIcon {
    left: auto;
    right: auto;
    position: absolute;
    width: calc(4% - 1px);
    height: calc(7.692% - 1px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: solid;
    border-color: transparent;
    border-width: 1px;
}
.desktopIcon:focus {
    border: dashed;
    border-top: none;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    background-color: rgba(219, 219, 219, 0.3);
    /*transition: all 0.2s ease;*/
}
.desktopIcon.full:hover {
    border-radius: 8px;
    background-color: rgba(219, 219, 219, 0.3);
    transition: background-color 0.2s ease;
}

.desktopIconImage {
    height: 65%;
    background-color: transparent;
    
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.desktopIconTitle {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    pointer-events: none;
    color: white;
    text-shadow: 0 0 3px black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.desktopIcon:focus > .desktopIconTitle {
    border: dashed;
    border-top: none;
    border-width: 1px;
    border-color: rgb(212, 212, 212);
    background-color: rgba(219, 219, 219, 0.3);
    white-space: wrap;
    overflow: visible;
    text-overflow: initial;
}

.iconDotsContainer {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(25, calc(4% - 1px));
    grid-template-rows: repeat(13, calc(7.692% - 1px));
    gap: 1px; */
    /*background-color: rgba(255, 0, 0, 0.1);*/
    pointer-events: none;
}
.iconDot {
    margin: 0.5px;
    height: calc(7.692% - 1px);
    width: calc(4% - 1px);
    justify-self: center;
    align-self: center;
    background-color: transparent;
    pointer-events: none;
}

#taskbar {
    display: flex;
    justify-content: center;
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: rgba(42, 61, 83, 0.8);
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
}
#taskbarApps {
    display: flex;
    justify-self: center;
}
.taskbarApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}
.taskbarApp:hover > .taskbarAppImage {
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.taskbarApp.windowFocused > .taskbarAppImage {
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.taskbarAppImage {
    height: 65%;
    padding: 4px;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s ease;
    pointer-events: none;
    user-select: none;
}
.appState {
    background-color: rgb(80, 80, 80);
    display: none;
    position: absolute;
    width: 12px;
    height: 3px;
    bottom: 0;
    margin: 0 0 4px 0;
    border-radius: 4px;
    transition: all 0.1s ease;
}
.taskbarApp.windowFocused > .appState {
    width: 21px;
    background-color: rgba(0, 174, 255, 1);
    transition: all 0.1s ease;
}
#pattyDOSTaskbarApp {
    filter: invert(42%) sepia(100%) saturate(479%) hue-rotate(181deg) brightness(98%) contrast(95%);
}
#taskbarIcons {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    align-items: center;
}
#taskbarTimeAndDate {
    margin: 0 5px;
    padding: 3px 5px;
    align-items: center;
    text-align: end;
    border-radius: 4px;
    transition: all 0.15s ease;
}
#taskbarTimeAndDate:hover {
    background-color: rgb(255, 255, 255, 0.1);
}
#taskbarTimeText, #taskbarDateText {
    font-size: 13px;
    color: white;
    font-weight: 400;
    pointer-events: none;
    user-select: none;
}
#taskbarAudio {
    display: flex;
    align-items: center;
    height: 100%;
}
#taskbarAudioOutput, #taskbarAudioInput {
    display: flex;
    height: 80%;
    padding: 0 3px;
    border-radius: 4px;
    align-items: center;
}
#taskbarAudioOutput:hover, #taskbarAudioInput:hover {
    background-color: rgb(255, 255, 255, 0.1);
}
.taskbarAudioImg {
    height: 60%;
}
#taskbarAudioOutputImg {
    transform: rotate(45deg);
}

#startMenu {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: end;
    /*margin: auto auto 60px auto;*/
    left: calc(50% - calc(25% / 2));
    bottom: 0;
    margin-bottom: -30%;
    background-color: rgba(42, 61, 83, 0.8);
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
    height: 50%;
    width: 25%;
    border-radius: 8px;
    transition: margin 0.2s ease;
}
#startMenu.visible {
    margin: calc(50% + 75px) auto 60px auto;
}
#startMenu button {
    width: 100%;
    height: 100%;
}
.startMenuContent {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.startMenuSearch {
    width: 85%;
    height: 30px;
    margin: 5.5% 0;
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 9999px;
    border: solid;
    border-width: 1px;
    color: white;
    border-color: rgb(80, 80, 80);
    background-color: rgb(34, 34, 34);
    transition: border-color 0.1s ease;
}
.startMenuSearch:focus {
    outline: none;
    border-color: rgba(0, 174, 255, 1);
    transition: border-color 0.1s ease;
}
.startMenuSearch::placeholder {
    font-size: 0.9rem;
    color: rgb(130, 130, 130);
}
.startMenuBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.startMenuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;
}
.startMenuBtn:hover > .startMenuImg {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 4px;
}
.startMenuImg {
    height: 40%;
    padding: 5px;
}
.startMenuBtn p {
    color: white;
}

.popUpMenu {
    position: absolute;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: 0;
    overflow: hidden;
    transition: all 0.1s ease;
}
.popUpMenu.active {
    height: 69px;
}
.popUpMenu p {
    color: white;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.popUpMenu p:hover {
    background-color: rgb(255, 255, 255, 0.1);
}
#powerPopUpMenu {
    margin: 0 calc(65px - 10px) 0 auto;
    right: 0;
}
#powerPopUpMenu.active {
    margin: 0 calc(65px - 10px) 32.5px auto;
}

.appWindow {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.topResizeHandle, .rightResizeHandle, .bottomResizeHandle, .leftResizeHandle {
    position: absolute;
    background-color: transparent;
    user-select: none;
}
.appWindow:not(.fullscreen) > .topResizeHandle:hover, .bottomResizeHandle:hover {
    cursor: ns-resize;    
}
.appWindow:not(.fullscreen) > .rightResizeHandle:hover, .leftResizeHandle:hover {
    cursor: ew-resize;
}
.topResizeHandle, .bottomResizeHandle {
    width: 100%;
    height: 4px;
}
.rightResizeHandle, .leftResizeHandle {
    height: 100%;
    width: 4px;
}
.topResizeHandle {
    top: 0;
}
.rightResizeHandle {
    right: 0;
}
.bottomResizeHandle {
    bottom: 0;
}
.leftResizeHandle {
    left: 0;
}
.topLeftResizeHandle, .topRightResizeHandle, .bottomRightResizeHandle, .bottomLeftResizeHandle {
    z-index: 2;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: transparent;
    user-select: none;
}
.appWindow:not(.fullscreen) > .topLeftResizeHandle:hover, .bottomRightResizeHandle:hover {
    cursor: nwse-resize;
}
.appWindow:not(.fullscreen) > .topRightResizeHandle:hover, .bottomLeftResizeHandle:hover {
    cursor: nesw-resize;
}
.topLeftResizeHandle {
    top: 0;
    left: 0;
}
.topRightResizeHandle {
    top: 0;
    right: 0;
}
.bottomRightResizeHandle {
    bottom: 0;
    right: 0;
}
.bottomLeftResizeHandle {
    bottom: 0;
    left: 0;
}

.frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    background-color: rgb(52, 52, 52);
    align-items: center;
    line-height: 100%;
    user-select: none;
}
.frame p {
    margin: 0 0 0 10px;
    pointer-events: none;
}
.frameBtns {
    display: flex;
    height: 100%;
}
.minimizeBtn, .fullscreenBtn, .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 100%;
    width: 32px;
    background-color: transparent;
    color: white;
}
.minimizeBtn:hover, .fullscreenBtn:hover {
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.closeBtn:hover {
    background-color: red;
    transition: all 0.2s ease;
}
.frameBtnImage {
    height: 75%;
}

.appUI {
    width: 100%;
    height: 100%;
}

.sideMenu {
    height: 100%;
    width: 300px;
    background-color: rgb(34, 34, 34);
}

.sideMenuItem {
    display: flex;
    width: calc(100% - 6px);
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    margin: 3px 3px 3px 3px;
    padding: 3px 9px;
    border-radius: 5px;
}
.sideMenuItem:hover {
    background-color: rgb(255, 255, 255, 0.1);
    transition: all 0.2s ease;
}
.sideMenuItem.active {
    background-color: rgb(255, 255, 255, 0.1);
}

.sideMenuImage {
    height: 27px;
    margin: 0 9px 0 0;
    /*filter: invert(61%) sepia(63%) saturate(2882%) hue-rotate(181deg) brightness(101%) contrast(102%);*/
}

.windowPageTitle {
    margin: 3px 10px;
}